#fan.gua.gua.le{color:white
}
header{color:#70caec
}
p {color:blue;
background-image: linear-gradient(to bottom,#fff67f,hsla(180,80%,60%,0.9));
}
h1 {background-image: url(baka.gif);
background-size: 100px 100px;
color:white;opacity: 0.6;
}
*{background-image: url(baka0.1.jpg);
background-position: center top;
width:500px;
margin-left: auto;
margin-right: auto
}

